//Variables
//Fuentes
@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.ttf');
}

$fsize-1: 2.5rem;
$fsize-2: 2rem;
$fsize-3: 1.25rem;
$fsize-4: 1rem;
$fsize-5: 0.875rem;
$fsize-6: 0.75rem;


$main_font: 'Lato', sans-serif;

//Colores
$dark_blue: #272A57;
$medium_blue: #5B5E85;
$light_blue: #BBD1EA;
$white: #ffffff;
$yellow: #FFD300;

