@use '../custom' as *;
@use '../base/variables' as *;
@use 'sass:color';
@use '../base/mixins' as mix;

.login{

    &__image{
        display:none;

        @include media-breakpoint-up(lg){
            display: block;
            @include mix.bg-image('mobileBoy.jpg', right, center);
            background-size: cover;
            min-height: calc(100vh - 5.455rem);    
        }
    }

    &__form{
        min-height: calc(100vh - 7.08rem);

        @include media-breakpoint-up(lg){
            min-height: calc(100vh - 5.455rem);    
        }
        
    }

    &__card{
        &-title{
            font-size: $fsize-3;
            font-weight: bold;
            color: $dark_blue;
        }

        &-label{
            font-size: $fsize-4;
            font-weight: bold;
            color: $dark_blue;
        }

        &-submit{
            width: 100%;
        }
    }
    
}

.text-message{
    color: $medium-blue;
    font-size: $fsize-5;
    font-weight: bold;
}

