@use '../custom' as *;
@use '../base/variables' as *;
@use 'sass:color';

.navigation {
    &__logo {
        .logo {
            max-width: 7rem;
            transition: transform 0.3s;
        }

        .logo:hover{
            transform: scale(1.1);
        }

        @include media-breakpoint-up(lg) {
            .logo {
                display: none;
            }
        }

    }

    &__link {
        font-size: $fsize-5;
        color: $white;

        &:hover{
            color: color.scale($white, $lightness: -20%);
        }
    }

    &__content{
        background-color: $dark_blue;    
    }
    
    &__hamburguer.navbar-toggler {
        border-color: white;
        border-width: 2px;
        box-shadow: none;
    }
    
    &__hamburguer.navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@include media-breakpoint-up(lg) {
    .hidden {
        display: none;
    }
}